/*Pages Startworkflow*/
/*.section1-startworkflow h1 {
  position: absolute;
  padding-left: 2.5%;
  color: #fff;
  top: 1%;
  font-size: 2rem;
}*/
.text-select {
  display: inline-block;
  margin-left: 2.5%;
  padding-top: 20px;
  padding-right: 2%;
  font: bold;
  font-size: 18px;
}
.select-startworkflow{
  width: 12%;
 display: inline-block; 
}
.invalid-tooltip{
  top: 12.5%;
}
/*******************************************************/

@media screen and (max-width: 768px){
  .select-startworkflow{
    width: 70%;
    display: inline-block;
    }
}
