/*pages workflowlist Pagination*/
.Settableworkflow {
    width: 100%;
    height: 64%;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
  }
/**************************************************************/
